<ons-page ng-controller="CalendarController">
    <ons-sliding-menu menu-page="menu.html" main-page="page-home" side="left" max-slide-distance="250px" var="menu">
    </ons-sliding-menu>
    <ons-template id="page-home">
        <md-content>
    <md-toolbar>
        <div class="md-toolbar-tools" ng-show="!showSearch">
            <md-button class="md-icon-button" ng-click="menu.toggleMenu()" aria-label="Menu">
                <i class="material-icons">menu</i>
            </md-button>
            <h3>
                Calendar
            </h3>
            <span flex></span>
            <md-button class="md-icon-button"  aria-label="Search" ng-click="showSearch = !showSearch">
                <i class="material-icons">search</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Print" ng-click="printCalendar()">
                <i class="material-icons">print</i>
            </md-button>
        </div>
        <div class="md-toolbar-tools" ng-show="showSearch">
            <md-button class="md-icon-button" ng-click="showSearch = !showSearch" aria-label="Back">
                <i class="material-icons">arrow_back</i>
            </md-button>
            <md-autocomplete flex="" ng-disabled="false"
                             md-selected-item="selectedItem"
                             md-search-text="searchText" md-search-text-change="querySearch(searchText)"
                             md-items="item in querySearch(searchText)" md-min-length="1"
                             md-item-text="item.matches"
                             placeholder="Enter video keyword (team, match, kind)">
                <md-item-template>
                    <md-content ng-click="goToSuggest(item)">
                                    <span class="item-title">
                                        <i class="material-icons">video_library</i>
                                        <span> {{item.matches}} </span>

                                        <i class="material-icons">access_time</i>
                                        <span> {{item.time}} {{item.date}}</span>


                                      </span>
                                    <br/>
                                    <span class="item-metadata">
                                        <i class="fa fa-trophy" aria-hidden="true"></i>
                                        <span>{{item.tournament}}</span>
                                        <span class="item-metastat">
                                          <strong>{{item.seen}}</strong> seen
                                        </span>
                                    </span>
                    </md-content>

                </md-item-template>
                <md-not-found>
                    No states matching "{{searchText}}" were found.
                    <a ng-click="newState(searchText)">Create a new one!</a>
                </md-not-found>
            </md-autocomplete>
            <md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch; $nav.pushPage('searchResult.html',{param: searchText});">
                <i class="material-icons">search</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Print" ng-click="printCalendar()">
                <i class="material-icons">print</i>
            </md-button>
        </div>

    </md-toolbar>

        <md-tabs md-selected="selectedIndex">
            <md-tab ng-repeat="tab in tabs" md-on-select="loadCalendar(tab)"
                    ng-disabled="tab.disabled"
                    label="{{tab.name}}">
                <md-content>
                    <section ng-repeat="round in tab.content">
                        <md-list layout="column" >
                            <ons-list-header class="center"><h4>Round {{round.id}}</h4></ons-list-header>
                            <md-list-item layout-padding=""  class="md-3-line" ng-repeat="match in round.match">
                                <ons-col width="15%" class="center">
                                    <h8>{{match.date}}</h8>
                                </ons-col>
                                <ons-col width="36%" class="center">
                                    <h5 style="margin-top: 10px;">{{match.teams}}</h5>
                                </ons-col>
                                <ons-col width="8.5%">
                                    <img ng-src="{{match.logoTeam1}}" class="md-avatar">
                                </ons-col>
                                <ons-col width=8.5%" class="center" style="bottom: 15px;">
                                    <h6>{{match.score}}</h6>
                                </ons-col>
                                <ons-col width="8.5%">
                                    <img ng-src="{{match.logoTeam2}}" class="md-avatar">
                                </ons-col>
                                <ons-col width="15%" class="center">
                                    <a ng-show="{{match.link != null && match.link != ''}}" ng-href="{{match.link}}">Highlight</a>
                                </ons-col>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>

                    </section>
                </md-content>
            </md-tab>
        </md-tabs>
            </md-content>
    </ons-template>
    <style>
        md-tab-content {
            position: fixed;
            top:100px;
        }
    </style>
</ons-page>
