<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ons-page id="page1.html">
    <ons-list>
        <ons-list-item ng-click="$nav.pushPage((session == null) ? 'signup.html':'home.html');menu.toggleMenu();" class="box box-middle padding-tb">
            <span class="thumb thumb-sm circle"></span>
            <span class="flex padding-left">User name</span>
        </ons-list-item>
        <ons-list-header>Main Pages</ons-list-header>
        <ons-list-item modifier="chevron" ng-click="$nav.pushPage('login.html')">
            Admin Dashboard
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="$nav.resetToPage('home.html')">
          Upcoming Events
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="$nav.pushPage('videos.html')">
          Video Archive
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="$nav.pushPage('calendar.html')">
            Calendar
        </ons-list-item>
        <ons-list-header>Favorite Sports</ons-list-header>
        <ons-list-item modifier="tappable" ng-repeat="kind in kindName">
          <label class="checkbox checkbox--list-item">
              <input type="checkbox" ng-change="addFilter(kind)" ng-model="kinds[kind]">
            <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
            {{kind}}
          </label>
        </ons-list-item>
        <!--<ons-list-item modifier="tappable">-->
          <!--<label class="checkbox checkbox&#45;&#45;list-item">-->
              <!--<input type="checkbox" ng-change="addFilter('Basketball')" ng-model="kinds['Basketball']">-->
            <!--<div class="checkbox__checkmark checkbox&#45;&#45;list-item__checkmark"></div>-->
            <!--Basketball-->
          <!--</label>-->
        <!--</ons-list-item>-->

        <!--<ons-list-item modifier="tappable">-->
          <!--<label class="checkbox checkbox&#45;&#45;list-item">-->
            <!--<input type="checkbox" ng-change="addFilter('Tennis')" ng-model="kinds['Tennis']">-->
            <!--<div class="checkbox__checkmark checkbox&#45;&#45;list-item__checkmark"></div>-->
            <!--Tennis-->
          <!--</label>-->
        <!--</ons-list-item>-->
      </ons-list>
</ons-page>