<!DOCTYPE html>

<div ng-controller="SearchResultController" layout-fill="" data-ng-init="search($nav.getCurrentPage().options.param)">

    <md-toolbar>
        <div class="md-toolbar-tools" ng-show="!showSearch">
            <md-button class="md-icon-button" ng-click="$nav.popPage('home.html')" aria-label="Menu">
                <i class="material-icons">arrow_back</i>
            </md-button>
            <h3>
                Advance Search
            </h3>
        </div>
    </md-toolbar>

    <md-content style="height: 100%;" md-theme="altTheme" >
            <div class="md-toolbar-tools">
                    <md-autocomplete flex="" ng-disabled="false" md-max-length="50%"
                                     md-selected-item="selectedItem"
                                     md-search-text="searchText" md-search-text-change="querySearch(searchText)"
                                     md-items="item in querySearch(searchText)" md-min-length="1"
                                     placeholder="Enter video keyword (team, match, kind)">
                        <md-item-template>
                            <md-content ng-click="goToSuggest(item)">
                                        <span class="item-title">
                                            <i class="material-icons">video_library</i>
                                            <layout-mdclass="center">
                                            <span> {{item.matches}} </span>
                                            </layout-md>
                                            <i class="material-icons">access_time</i>
                                            <layout-md width="30%" class="center">
                                            <span> {{item.time}} {{item.date}}</span>
                                            </layout-md>

                                          </span>
                                        <span class="item-metadata">
                                            <i class="fa fa-trophy" aria-hidden="true"></i>
                                            <span class="item-metastat">
                                            <layout-md class="center">
                                                <span>{{item.tournament}}</span>
                                            </layout-md>
                                            <layout-md class="center">
                                                <strong>{{item.seen}}</strong> seen
                                            </layout-md>
                                            </span>
                                        </span>
                            </md-content>
                        </md-item-template>
                        <md-not-found>
                            No states matching "{{searchText}}" were found.
                            <a ng-click="newState(searchText)">Create a new one!</a>
                        </md-not-found>
                    </md-autocomplete>
                    <span>
                        <md-button class="md-icon-button" aria-label="Search" ng-click="search(searchText)">
                            <i class="material-icons">search</i>
                        </md-button>
                     </span>
            </div>
        <section ng-repeat="(kind,val) in videos">
            <md-subheader class="md-primary">{{kind}}</md-subheader>
            <md-list layout="column" ng-repeat="(tournament,value) in val">
                <ons-list-header>{{tournament}}</ons-list-header>
                <md-list-item layout-padding=""  class="md-3-line" ng-repeat="video in value">
                    <ons-col width="8.5%" class="center">
                        <h8>{{video.time}}</h8>
                    </ons-col>
                    <ons-col width="8.5%">
                        <img ng-src="{{video.logoTeam1}}" class="md-avatar">
                    </ons-col>
                    <ons-col width="36%" class="center">
                        <h5 style="margin-top: 10px;">{{video.matches}}</h5>
                    </ons-col>
                    <ons-col width="8.5%">
                        <img ng-src="{{video.logoTeam2}}" class="md-avatar">
                    </ons-col>
                    <ons-col width="8.5%" class="center">
                        <a ng-show="{{video.highlightLink != null && video.highlightLink != ''}}" ng-href="{{video.highlightLink}}">Highlight</a>
                    </ons-col>
                    <ons-col width="15%" class="center">
                        <a ng-show="{{video.longHighlightLink != null && video.longHighlightLink != ''}}" ng-href="{{video.longHighlightLink}}">Long Highlight</a>
                    </ons-col>
                    <ons-col width="15%" class="center">
                        <a ng-show="{{video.fullmatchLink != null && video.fullmatchLink != ''}}" ng-href="{{video.fullmatchLink}}">Full match highlight</a>
                    </ons-col>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>

        </section>
    </md-content>
</div>